{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="col-md-12 card pb-3">

            <h2 class="text-center mb-3">Prestations de <span class="employerColor">{{ prestations[0].employer.name }}</span></h2>

                <table class="table table-striped bg-white border border-dark text-center">
                    <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th>Date</th>
                        <th>Employeur</th>
                        <th>Lieu</th>
                        <th>Début</th>
                        <th>Fin</th>
                        <th>Heures travaillées</th>
                        <th>Honoraire BRUT</th>
                        <th>Honoraire NET</th>
                        <th>Gains NET (environ)</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for prestation in prestations %}
                        <tr>
                            <td><a href="{{ path('prestation_edit', { 'id': prestation.id }) }}"><i class="far fa-edit"></i></a></td>
                            <td class="dateColor">{{ prestation.prestationDate|date('d/m/y') }}</td>
                            <td class="employerColor">{{ prestation.employer }}</td>
                            <td>{{ prestation.place }}</td>
                            <td>{% if prestation.startTime %}{{ prestation.startTime|date('H:i') }}{% endif %}</td>
                            <td>{% if prestation.endTime %}{{ prestation.endTime|date('H:i') }}{% endif %}</td>
                            <td class="hoursColor">{% if prestation.hoursWorked %}{{ prestation.hoursWorked|date('H:i') }}{% endif %}</td>
                            <td>{% if prestation.grossHonorary %}{{ prestation.grossHonorary }}€{% else %}/{% endif %}</td>
                            <td>{% if prestation.netHonorary %}{{ prestation.netHonorary }}€{% else %}/{% endif %}</td>
                            <td class="gainsColor">{{ prestation.totalNetGains }}€</td>
                            <td><a href="{{ path('prestation_delete', { 'id': prestation.id } ) }}" class="text-danger"><i class="far fa-times-circle"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            <a href="{{ path('employer_index') }}" class="btn btn-outline-dark darkRedColor col-md-1 offset-md-1">Retour</a>

        </div>
    </div>
{% endblock %}
