{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="col-md-6 offset-md-3 card pb-3">

            <h2 class="text-center mb-4">Mot de passe oublié ?</h2>

            <ol>
                <li>Renseignez votre email.</li>
                <li>Vérifiez votre boîte de réception.</li>
                <li>Cliquez sur le lien transmis pour définir un nouveau mot de passe.</li>
            </ol>

            {{ form_start(form) }}

                <p>{{ form_widget(form.email, {'attr': {'placeholder': 'Email'}}) }}</p>
                <p>{{ form_errors(form.email) }}</p>
                <div class="d-flex justify-content-around">
                    <a href="{{ path('homepage') }}" class="btn btn-outline-dark darkRedColor"><i class="fas fa-arrow-left"></i> Retour</a>
                    <button type="submit" class="btn btn-outline-dark darkRedColor">Envoyer</button>
                </div>

            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
