{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="col-md-6 offset-md-3 card pb-3">

            <h2 class="text-center mb-4">Réinitialisation du mot de passe</h2>

            {{ form_start(form) }}

                <p>{{ form_widget(form.password.first, {'attr': {'placeholder': 'Nouveau mot de passe'}}) }}</p>
                <p>{{ form_errors(form.password.first) }}</p>
                <p>{{ form_widget(form.password.second, {'attr': {'placeholder': 'Confirmer nouveau mot de passe'}}) }}</p>
                <p>{{ form_errors(form.password.second) }}</p>

                <div class="d-flex justify-content-around">
                    <a href="{{ path('homepage') }}" class="btn btn-outline-dark darkRedColor">Retour à la connexion</a>
                    <button type="submit" class="btn btn-outline-dark darkRedColor">Modifier</button>
                </div>

            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
