{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <h1 class="text-center">Mise à jour de votre mot de passe</h1>

        {{ form_start(form) }}
            <p>{{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'placeholder': 'Nouveau mot de passe'}}) }}</p>
            <p>{{ form_widget(form.password.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirmer nouveau mot de passe'}}) }}</p>
            <span class="text-danger">{{ form_errors(form.password) }}</span>
            <a href="{{ path('homepage') }}">Retour à la connexion</a>
            <button type="submit" class="btn btn-primary">Modifier</button>
        {{ form_end(form) }}

    </div>
{% endblock %}
