{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="col-md-6 offset-md-3 card">

            <h2 class="text-center mb-4">Inscription</h2>

            {{ form_start(form, {'attr': {'class': 'form-group'}}) }}

                <p>{{ form_widget(form.pseudo, {'attr': {'class': 'form-control', 'placeholder': 'Pseudo'}}) }}</p>
                <span class="text-danger">{{ form_errors(form.pseudo) }}</span>

                <p>{{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}</p>
                <span class="text-danger">{{ form_errors(form.email) }}</span>

                <p>{{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}</p>
                <span class="text-danger">{{ form_errors(form.password.first) }}</span>

                <p>{{ form_widget(form.password.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirmer mot de passe'}}) }}</p>
                <span class="text-danger">{{ form_errors(form.password.second) }}</span>

                <div class="text-right"><button class="btn btn-outline-dark darkRedColor" type="submit">S'incrire</button></div>

            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}